body {
    background-color: rgb(24, 19, 37);
    font-family: lexend;
    color: rgb(176, 181, 255);
    width: 1000px;
    margin: 0 auto;
    padding: 20px;    
    
}
.boundary {
    display: flexbox;
    background-color: rgb(50, 41, 75);
    padding: 20px;
}
.navbox{
    display:inline;
    background-color: rgb(34, 19, 77);
    padding: 10px;
}
p {
    padding-bottom: 20px;
}
h1 {
    color: rgb(255, 255, 255);
    font-size:xx-large;
    padding-top: 20px;
    padding-bottom: 10px;
}
h2 {
    color: rgb(118, 95, 245);
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 10px;
}
h3 {
    color: rgb(166, 111, 255);
    font-size: larger;
    padding-top: 20px;
    padding-bottom: 10px;
}
h4 {
    color: rgb(204, 95, 255);
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
}
a {
    color: rgb(255, 0, 212);

}
a:hover {
    color: rgb(255, 255, 255);

}
a:active {
    color: rgb(255, 123, 233);

}



/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
/* Style the images inside the grid */
.column img {
    border-radius: 5px;
    height: 100px;
    opacity: 0.8;
    cursor: pointer;    
}
  
.column img:hover {
    opacity: 1;
    transform: scale(1.05);
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}  

/* Expanding image text */
.imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

.container {
    width: 100%;
    height: 500px;
    position: relative;
    background-color: black;
    
}
.expandedImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.imgbutton {
    width: 300px;
    border-radius: 5px;
}
.tile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.tile {    
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
}
.tile:hover {
    transform: scale(1.05);
    opacity: 90%;
}